<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <!-- CSS only -->
            <link rel="stylesheet" href="/css/style.css">

            <!-- Bootstrap -->
            <link
                  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                  crossorigin="anonymous"
            />

            <!-- FontAwesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
            <link rel="shortcut icon" href="/images/icone-aba.png">
            <title>Blog</title>
      </head>
      <body id="body">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light">
                <div class="container-cabecalho">
                    
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-3">
                            <li class="nav-item">
                                <a href="/" class="nav-link text-white">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <h1 class="mb-1 mt-3"><%= article.title %></h1>
                <div class="mb-2">
                    <%= article.createAt.toLocaleDateString() %>
                </div>
                    <a id="all-article" href="/" class="btn btn-secondary mb-4">All Articles</a>

                    <a id="edit-show" href="/articles/edit/<%= article.id %>" class="btn btn-primary mb-4">Edit</a>

                <div class="card-body">
                    <%- article.sanitizeHtml %>
                </div>
        </div>

        <footer class="fixed-bottom">
            <div class="text-center col-md-12">
                <a target="_blank" href="https://github.com/Khaledy30" class="mt-3 mb-3 btn-lg btn btn-outline-light">
                    <i class="fab fa-github"></i>
                </a>

                <a target="_blank" href="https://www.linkedin.com/in/aur%C3%A9lio-khaledy/" class="mt-3 mb-3 btn-lg btn btn-outline-light">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/khaledy_camargo/" class="mt-3 mb-3 btn-lg btn btn-outline-light">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </footer>
      </body>
</html>
